Données NYC

Initialisation

In [20]:
import plotly.express as px
from sqlalchemy import create_engine, text
import pandas as pd
import numpy as np

Chargement des données NYC

In [21]:
stations = pd.read_csv('/Users/rymarajhi/Desktop/Python/nyc_stations_data.csv')
stations

,station_id,num_bikes_available,num_docks_available,is_installed,is_returning,is_renting,last_reported,num_ebikes_available,time_queried,name,...,capacity,rental_methods,legacy_id,station_status,num_docks_disabled,num_bikes_disabled,station_type,has_kiosk,electric_bike_surcharge_waiver,region_id
0,339,2,39,1,1,1,2022-02-28 12:16:33,0,2022-02-28 13:00:03.38725,Avenue D & E 12 St,...,41,"['KEY', 'CREDITCARD']",339,active,0,0,classic,t,f,71
1,340,23,3,1,1,1,2022-02-28 12:59:16,0,2022-02-28 13:00:03.38725,Madison St & Clinton St,...,27,"['KEY', 'CREDITCARD']",340,active,0,1,classic,t,f,71
2,341,8,11,1,1,1,2022-02-28 11:19:16,1,2022-02-28 13:00:03.38725,Stanton St & Mangin St,...,19,"['KEY', 'CREDITCARD']",341,active,0,0,classic,t,f,71
3,342,19,10,1,1,1,2022-02-28 12:54:46,2,2022-02-28 13:00:03.38725,Columbia St & Rivington St,...,29,"['KEY', 'CREDITCARD']",342,active,0,0,classic,t,f,71
4,343,6,17,1,1,1,2022-02-28 12:40:12,0,2022-02-28 13:00:03.38725,Clinton Ave & Flushing Ave,...,23,"['KEY', 'CREDITCARD']",343,active,0,0,classic,t,f,71
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4800310,331,0,0,1,1,1,2022-02-28 12:56:25,0,2022-02-28 13:00:03.38725,Pike St & Monroe St,...,27,"['KEY', 'CREDITCARD']",331,active,1,26,classic,t,f,71
4800311,332,13,19,1,1,1,2022-02-28 12:44:14,0,2022-02-28 13:00:03.38725,Cherry St,...,36,"['KEY', 'CREDITCARD']",332,active,0,4,classic,t,f,71
4800312,334,36,7,1,1,1,2022-02-28 12:58:40,4,2022-02-28 13:00:03.38725,W 20 St & 7 Ave,...,44,"['KEY', 'CREDITCARD']",334,active,0,1,classic,t,f,71
4800313,335,24,0,1,1,1,2022-02-28 12:58:15,4,2022-02-28 13:00:03.38725,Washington Pl & Broadway,...,27,"['KEY', 'CREDITCARD']",335,active,0,3,classic,t,f,71
4800314,336,41,12,1,1,1,2022-02-28 12:53:09,5,2022-02-28 13:00:03.38725,Sullivan St & Washington Sq,...,57,"['KEY', 'CREDITCARD']",336,active,0,4,classic,t,f,71

In [22]:
stations.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4800315 entries, 0 to 4800314
Data columns (total 22 columns):
 #   Column                          Dtype
---  ------                          -----
 0   station_id                      int64
 1   num_bikes_available             int64
 2   num_docks_available             int64
 3   is_installed                    int64
 4   is_returning                    int64
 5   is_renting                      int64
 6   last_reported                   object
 7   num_ebikes_available            int64
 8   time_queried                    object
 9   name                            object
 10  lat                             float64
 11  lon                             float64
 12  capacity                        int64
 13  rental_methods                  object
 14  legacy_id                       int64
 15  station_status                  object
 16  num_docks_disabled              int64
 17  num_bikes_disabled              int64
 18  station_type                    object
 19  has_kiosk                       object
 20  electric_bike_surcharge_waiver  object
 21  region_id                       int64
dtypes: float64(2), int64(12), object(8)
memory usage: 805.7+ MB

Choisir les bonnes donnéess

In [23]:
#On supprime les colonnes dont nous n'avons pas besoin 
stations = pd.DataFrame(stations)
stations = stations.drop(['num_ebikes_available','rental_methods','region_id', 'station_type', 'has_kiosk','electric_bike_surcharge_waiver','num_bikes_disabled','num_docks_disabled','station_status','legacy_id'], axis=1)

In [24]:
#On ajoute une colonne "ville" = NYC ou PARIS pour pouvoir comparer les deux tables
stations['ville'] = 'NYC'
stations #Création Data Frame

,station_id,num_bikes_available,num_docks_available,is_installed,is_returning,is_renting,last_reported,time_queried,name,lat,lon,capacity,ville
0,339,2,39,1,1,1,2022-02-28 12:16:33,2022-02-28 13:00:03.38725,Avenue D & E 12 St,40.725807,-73.974230,41,NYC
1,340,23,3,1,1,1,2022-02-28 12:59:16,2022-02-28 13:00:03.38725,Madison St & Clinton St,40.712692,-73.987760,27,NYC
2,341,8,11,1,1,1,2022-02-28 11:19:16,2022-02-28 13:00:03.38725,Stanton St & Mangin St,40.717823,-73.976290,19,NYC
3,342,19,10,1,1,1,2022-02-28 12:54:46,2022-02-28 13:00:03.38725,Columbia St & Rivington St,40.717400,-73.980160,29,NYC
4,343,6,17,1,1,1,2022-02-28 12:40:12,2022-02-28 13:00:03.38725,Clinton Ave & Flushing Ave,40.697940,-73.969870,23,NYC
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4800310,331,0,0,1,1,1,2022-02-28 12:56:25,2022-02-28 13:00:03.38725,Pike St & Monroe St,40.711730,-73.991930,27,NYC
4800311,332,13,19,1,1,1,2022-02-28 12:44:14,2022-02-28 13:00:03.38725,Cherry St,40.712200,-73.979485,36,NYC
4800312,334,36,7,1,1,1,2022-02-28 12:58:40,2022-02-28 13:00:03.38725,W 20 St & 7 Ave,40.742390,-73.997260,44,NYC
4800313,335,24,0,1,1,1,2022-02-28 12:58:15,2022-02-28 13:00:03.38725,Washington Pl & Broadway,40.729040,-73.994050,27,NYC
4800314,336,41,12,1,1,1,2022-02-28 12:53:09,2022-02-28 13:00:03.38725,Sullivan St & Washington Sq,40.730476,-73.999060,57,NYC